@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  background-color: #181a1b;
  color: goldenrod;
  font-family: monospace;
}
#page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#page-container h1 {
  position: absolute;
  top: 5%;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 
    -1px -2px 6px #7d7d7d, 
    0px 0px 20px black, 
    -5px -5px #000000,
    -4px -4px 0px black; 
}
#page-container img {
  height: auto;
  width: auto;
  object-fit: cover;
  margin-bottom: 24px;
}
#robot-container {
  display: flex;
}
#input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#robogres-says {
  text-align: center;
  font-size: 24px;
  background-color: rgb(255 255 255);
  width: 550px;
  height: 300px;
  padding-top: 40px;
  border-radius: 93px 0px 0px 0px;
  border: 2px solid black;
  color: black;
  font-weight: bolder;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 
    inset -4px 7px 20px 2px rgba(0, 0, 0, 0.603), 
    inset 0px -4px 12px 2px rgb(0 0 0 / 75%), 
    inset 1px 5px 20px #0000001f, 
    0px 0px 2px 0px #5c5c5c;
  text-shadow: 0px 0 2px rgba(0, 0, 0, 0.308); 
}

#input-cluster {
  align-self: center;
}
#input-cluster input {
  border-radius: 10px;
  padding: 10px;
  background-color: #518152;
  color: #61de40;
  box-shadow: inset 0 0 4px 1px black, 0 0 2px 1px #4a4a4a;
  border: 1px solid #98989840;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0px 2px black;
}
#input-cluster input:focus,
#input-cluster button:focus {
  outline-style: none;
  box-shadow: 0 0 5px 2px white;
}
#input-cluster button {
  border-radius: 10px;
  padding: 10px;
  background-color: #c72323;
  color: #000000;
  box-shadow: inset 0 0 2px 1px black, 0 0 2px 1px #4a4a4a;
  border: 1px solid #91a5af;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0px 1px #000000;
}
#input-cluster button:hover {
  cursor: pointer;
  color: white;
  background-color: #686868;
  box-shadow: 0 0 5px 1px white;
  transition: .4s;
}

@media only screen and (max-width: 1000px) {
  #robot-container {
    flex-direction: column;
  }
  #robogres-says {
    border-radius: 0;
    width: 450px;
  }
}
